<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<div class="header-banner">
    <header class="header" role="banner">
        {{> components/common/navigation}}
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
    
        <div class="header-search-logo-profile">
            {{> components/common/quick-search name='nav-quick-search'}}
            {{#if page_type '===' 'default'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        <div class="profiles">
                    <div class="navUser-item navUser-item--cart">
                <a class="navUser-action"
                   data-cart-preview
                   data-dropdown="cart-preview-dropdown"
                   data-options="align:right"
                   href="{{urls.cart}}"
                   aria-label="{{lang 'cart.nav_aria_label'}}"
                >
                    <span class="navUser-item-cartLabel">
                        <img src="{{cdn 'assets/img/cart.svg'}}">
                    </span>
                    <span class="countPill cart-quantity"></span>
                </a>
    
                <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
            </div>
            <div class="acc-profile">
                  <li class="navUser-item navUser-item--account" id="{{#if customer}}dropdown{{/if}}">
                    {{#if customer}}
                    <span class="navUser-action-acc"></span>                    
                        <ul class="is-open-dropdown">
                            <li><a class="navUser-action" href="/account.php"><span>Account</span></a></li>
                            <li><a class="navUser-action" href="{{urls.auth.logout}}"><span>{{lang 'common.logout'}}</span></a></li>
                        </ul>
                    {{else}}
                        <a class="navUser-action-acc" href="{{urls.auth.login}}"><span>{{lang 'common.login'}}</span></a>
                    {{/if}}
                </li>
            </div>
        </div>
        </div>
    
    
    
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
        {{{region name="header_navigation_bottom--global"}}}
    </header>
    {{#and carousel carousel.slides.length}}
    {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
</div>

{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
